*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* overflow-y: hidden; */
}

html{
    scroll-behavior: smooth;
}
/* varible */
:root{
    --primary:rgb(18, 18, 94);
    --secondary:rgb(255, 217, 1);
    --universal:rgb(104, 104, 231);
}

body{
    background:var(--primary);
    color:var(--universal) ;
}

img{
    width: 100%;
}

li{
    text-decoration: none;
    list-style: none;
}
a{
    border-radius: 15px;
    padding: .3em .6em;
    border: 1px solid var(--secondary);
    text-decoration: none;
    color: var(--secondary);
    transition: .3s all;
    display: inline-block;

}
a:hover{
    background: var(--secondary);
    color: var(--primary);
}

/* header */

#header{
    display: flex;
    flex-direction: column;
    border: 1px solid;
}
.head{
    margin-block: 1em;
    font-size: 13px;
    width:min(40%,400px);
    /* border-bottom: 2px solid var(--secondary); */
}
.border{
    font-size: 23px;
    border-bottom: 3px solid var(--secondary);
}
.second-head{
    display: none;
}

/* grid  */

.grid{
    overflow-x: hidden;
    align-items: center;
    /* height: 26vh; */
    display: grid;
    grid-template-columns: repeat(8,1fr);
}
.grid .heading{
    /* margin-block-start:1em; */
    /* margin-block-end: .5em; */
    grid-column: 1/7;

}
.grid .heading h1{
    font-size: 1.2em;
}
.heading p{
    margin-inline: .6em;
    width: 80%;
    font-size: .8em;
}
.grid .donut{
    /* overflow-y: hidden; */
    grid-column: 7/9;
    width: min(200%,400px);
}

.heading h1, p, a{
    margin-block:.4em;
}

/* showcase-2 */
#showcase{
    background:url(images/square_bg.png);
    
}
.container{
    margin-left: 1em;
}
.headings{
    font-size: 13px;
    text-align: center;
}

.project-1,.project-2,.project-3{
    margin-top: 2em;
    display: flex;
    align-items: center;
    gap: 1em;
}
.flex{
    width: min(40%,200px);
}
.flex-1{
    text-align: center;
    align-items: center;
    font-size: 14px;
}

/* showcase */

.showcase-2{

}
.headers{
    display: grid;
    grid-template-columns: repeat(8,1fr);
}
.headers>div{
    background: rgb(4, 4, 69);
    /* border: 2px solid red; */
}
.grid-11{
    margin: auto;
    text-align: center;
    color: rgb(217, 208, 208);
    font-size: 13px;
    margin-top: 2em;
    
}
.things{
    margin-block: 1em;
    font-size: 20px;
    font-weight: 900;

}
.inner-grid-1{
    font-size: 9px;
    grid-column: 1/5;
    margin: .5em;
    /* margin-top: 1em; */

}
.inner-grid-2{
    font-size: 9px;
    grid-column: 5/9;
    margin: .5em;
}
.inner-grid-3{
    font-size: 9px;
    grid-column: 1/5;
    margin:.5em;
}
.inner-grid-4{
    font-size: 9px;
    grid-column: 5/9;
    margin: .5em;
}
/* .inner-grid-1, .inner-grid-2, .inner-grid-3, .inner-grid-4 h1{

} */

.images{
    width: min(40%,200px);
}
.para{
    margin: auto;
    /* text-align: center; */
    margin-top: 2em;
    width: 90%;
    color:var(--universal);
}

/* newslatter */

#newslatter{
    /* border: 2px solid; */

    text-align: center;
    /* background:rgb(4, 4, 69); */
    /* margin: 20px auto; */
}
.in{
    color:rgb(217, 208, 208) ;
    /* text-align: center; */
}
.headerss{
    padding-top: 2em;
    font-size: 19px;
}
.touch{
    color: rgb(217, 208, 208);
    /* width: 70%; */
    /* display: block; */
    margin: 0em 4em;
}
.input-1{
    /* border: 1px solid; */
    width: 80%;
    max-width: 400px;
    margin: 2em auto;
    display: grid;
}

.button-1,.button-2,.button-3{
    color: rgb(217, 208, 208);
    background:rgb(4, 4, 69) ;
    border: 2px solid var(--universal);
    margin: .5em auto;
    padding: .5em .5em;
    width: min(50%,400px);
    border-radius: 15px;
}
.input-1 .flare{
    width: 40%;
    margin:10px auto;
    font-size: 12px;
}

/* footer */

#footer{

    /* height: 20vh; */
}
.foot{
    /* border: 2px solid ; */
    display: grid;
    grid-template-columns: repeat(9,1fr);
    height: 4em;
    overflow-y: hidden;
    background:rgb(4, 4, 69) ;

}
.class-1{
    grid-column: 1/4;
    /* width: min(100%,300px); */
    font-size: 8px;
}
.class-1 .on{
    margin: 1em 0em 0em auto;
    font-size: 14px;
}
.class-2{
    /* overflow: hidden; */
    height: 200%;
    grid-column: 4/8;
}
.class-3{
    margin-left: 0 auto;
    /* border: 2px solid; */
    grid-column: 8/10;
}
.class-3 .first,.second{
    border: 1px solid;
    width: min(42%,400px);
}
.first{
    margin-top: 1em;
    margin-left: .3em;
}

/* meadia quary */

@media(min-width:350px){
    #header{

    }
    #header .head{
        font-size: 5px;
    }
}

@media (min-width:600px){
    .container{
        max-width: 700px;
    }
    .head{
        font-size: 18px;
        width: 35%;
    }
    .border{
        font-size: 28px;
        /* border: 2px solid white; */
        max-width:260px;
    }
    #showcase{
        /* border: 4px solid black; */
        /* height: 10em; */
    }
    .grid{
        /* border: 2px solid; */
        /* height: 40vh; */
        display: flex;
    }
    .grid .heading{
        width: 100%;
        /* border: 2px solid; */
    }
    .grid .donut{
        margin: auto 0;
        /* border: 2px solid ; */
        width: 80%;
        max-width: 300px;
    }
    /* showcase-1 */

    #showcase-1{
        /* border: 4px solid white; */
        /* justify-content: center; */
        /* align-items: center; */
        /* text-align: center; */
    }
    .headings{
        font-size: 18px;
    }
    .grid-1{
        margin:0 0 0 auto;
        /* border: 2px solid; */
        display: grid;
        
    }
    .project-1{
        grid-column: 1/5;
        display: block;
    }
    .flex{
        margin-inline: 4em;
        /* border: 2px solid; */
        width: 50%;
        width: min(50% 800px);
        /* max-width:800px ; */
    }
    .flex-1{
        font-size: 15px;
        /* border: 2px solid; */
    }
    .project-2{
        /* border: 2px solid; */
        grid-column:5/9;
        display: block;
        /* margin: auto; */
    }
    .project-3{
        grid-column:4/7;
        /* border: 2px solid; */
        display: block;
    }

    /* showcase-2 */
    .grid-11{
        margin: auto;
    }

    /* newslatter */

    #newslatter{

    }
    .button-1,.button-2,.button-3,.flare{
        /* padding-inline-end:7em; */
        width: 100%;

    }
    .button-3{
        padding-block-end:3em ;
    }

    /* footer */

    #footer{
        border: 2px solid ;
    }
    .foot{
        display: grid;
        grid-template-columns: repeat(8,1fr);
    }
    .class-1{
        border: 2px solid;
        grid-column: 1/3;
    }
    .class-1 .on{
        margin: auto;
        font-size: 20px;

    }
    .class-2{
        justify-content: center;
        align-items: center;
        grid-column: 3/7;
        width:min(50%,800px);
        height: 50%;
        overflow: none;
        height: min(100%,800px);
    }
    .class-3{
        grid-column: 7/9;
        border: 2px solid;
        margin-left: ;
        margin: auto;
        overflow-y: hidden;
    }
    .class-3 .first,.second{
        width: min(25%,900px);
    }

}
